.btn-primary{
    color: #fff;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
    background-color: #8d0909 !important;
}

.btn-primary:hover{
    border: #8d0909;
}
.btn:hover{
    border: #fff;
}